.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white !important;
}  
.custom-tabs .ant-tabs-nav .ant-tabs-tab-active {
    background-color: #484E56;
    padding: 0px 10px 0px 10px;
    height: 63px;

}

.custom-tabs .ant-tabs-ink-bar {
    display: none;
}
.dashboard-content {
  position: relative;
  border: 1px solid blue;
}
.layout{
  background-color: black;
  margin-left: -70%;
  background-color: transparent;
}
.layout .fixed-tabs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 900px) {
  .layout{
    margin-left: -30%;
  }
}
@media screen and (max-width: 375px) {
  .custom-title {
    display: none;
  }
  .TimeDisplay {
    display: none;
  }
  .custom-tabs {
    margin: 0 0 0 3%;
    width: 200px;
    font-size: 1px;
    padding: 0;
  }
}