.upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.uploading {
  cursor: not-allowed;
  opacity: 0.7;
}

.upload-icon {
  margin-bottom: 18px;
}

.upload-button span {
  font-size: 16px;
  font-weight: bold;
}

.submenubottom {
    border-top: 1px dashed #10739E;
}
.submenu .ant-menu-item:last-child:hover {
  background-color: transparent !important;
}
.submenu .ant-menu-item:last-child.ant-menu-item-selected {
  background-color: transparent !important;
}
.custom-collapse {
  max-width: 90%;
  margin: 5%;
  border: none;
  // background-color: #EFF1F6;
}

.staff_btn_addcourse{
  font-family: Comic Sans MS;
  width: 80%;
  margin: 0 auto;
  display: block;
}
.staff_btn_wrap{
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
}
.flex_1{
  flex: 1;
}
.mrt5{
  margin-right: 5px;
}
.left-title{
  color: 'black';
  font-family: 'Comic Sans MS';
  padding: 10; 
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
}

.left-sider{
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  // background-color: #EFF1F6;
  // border-right: 1px solid grey;
  transition: left 0.3s;
  background-color: rgba(256, 256, 256, 0.5);
}
.ant-collapse-content{
  // border: 1px solid red;
  border-bottom-right-radius: 10px!important;
  border-bottom-left-radius: 10px!important;
}
@media screen and (max-width: 1007px) {
  .staff-dashboard .ant-layout{
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 375px) {
  .staff-dashboard .left-sider .left-title {
    font-size: 10px;
  }
  .staff-dashboard .site-layout .nocourse-title {
    font-size: 10px;
  }
  .no-course-footer {
    font-size: 10px;
    width: 80%;
  }
}
